body {
    background: linear-gradient(rgb(255, 84, 0), black);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.welcome-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: hsl(231, 94%, 7%);
    gap: 25px;
    height: 120px;
    box-shadow: 0px 0px 40px black;
    padding-left: 220px;
    /* distância para não tampar a logo */
    z-index: 1500;
}

/*Isso tudo é uma "flex-box" que alinha as palavras em linha*/
.palavra {
    display: flex;
    /* ativa o flexbox */
    gap: 40px;
    /* espaço entre as palavras */
    height: 60px;
    padding-top: 30px;
    padding-left: 40px;
    margin-left: 46px;
}

button {
    font-size: 20px;
    border: 1px solid white;
    border-radius: 18px;
    padding: 4px 10px 4px 10px;
    /* opcional: deixa a borda mais bonita */
    display: inline-block;
    /* borda fica justa ao texto */
    font-family: "Science Gothic", sans-serif;
    cursor: pointer;
}

/* Fim do código da flex box */

.pulse {
    margin-top: 13px;
    transition: transform 0.25s ease;
    transform: translateY(18px) scale(1);
}

.pulse:hover {
    transform: translateY(18px) scale(1.1);
}

.search-container {
    position: fixed;
    top: 15px;
    right: 18px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    z-index: 4000;
}

.search-input {
    width: 0px;
    opacity: 0;
    padding: 8px 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    outline: none;
    transition: 0.25s ease;
    font-size: 13px;
    position: absolute;
    right: 44px;
    top: 1px;
    background: hsl(222, 63%, 9%);
    color: #f2f2f2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
    font-family: "Science Gothic", sans-serif;
    box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.05),
        0 2px 6px rgba(0, 0, 0, 0.5);
}

.search-input:focus {
    border-color: rgba(255, 84, 0, 1);
    /* laranja forte só no foco */
    box-shadow: 0 0 6px rgba(255, 84, 0, 0.6);
}

.search-btn {
    position: absolute;
    top: 0.00001px;
    width: 34px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

/* garante que a imagem se ajuste bem no botão */
/* dados da imagem da lupa*/
.search-btn img {
    width: 3vw;
    height: auto;
    object-fit: contain;
    max-width: 80px;
    transform: translateY(-8px);
    margin-left: 10px;
}

.search-container.active .search-input {
    width: 170px;
    opacity: 1;
    color: white;
}

.placeholder {
    color: white;
}

/*termina aui*/

.btn-box {
    position: relative;
    /* referência pro absolute */
}

.info-box {
    position: absolute;
    /* NÃO EMPURRA mais nada */
    top: 150%;
    /* aparece logo abaixo do botão */
    left: 50%;
    /* começa no centro do botão */
    transform: translateX(-50%);
    /* centraliza */

    width: 250px;
    /* pode ajustar */
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    font-size: 20px;

    background: black;
    color: white;
    font-style: italic;
    border-radius: 8px;
    border: 1px solid transparent;

    padding: 0 10px;
    transition:
        max-height 0.35s ease,
        opacity 0.35s ease,
        padding 0.35s ease,
        border-color 0.35s ease;
}

.info-box.active {
    max-height: 200px;
    opacity: 1;
    padding: 10px;
    border-color: rgba(255, 84, 0, 1);
}


/* Estiliza e posiciona a imagem */

.logo {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 220px;
    height: auto;
    z-index: 3000;
    margin: 0;
    padding: 0;

}

.skins {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-image: url(fundo-skins.png);
    cursor: pointer;
    background-size: 100% 100%;
    padding: 20px;
    border-radius: 12px;
}

/*configurção da rolagem*/
.infinite-scroll {
    width: 100%;
    overflow: hidden;
    /* Esconde o excesso */
    background: transparent;
    border: solid black 2px;
    border-radius: 30px;
}

/*imagens q estão dentro da rolagem*/
.scroll-content {
    display: flex;
    width: max-content;
    /* Ajusta a largura ao conteúdo */
    animation: scroll 15s linear infinite;
}

/*estilização das imagens*/
.scroll-content img {
    width: 200px;
    /*largura*/
    height: 150px;
    /*altura*/
    object-fit: cover;
    /*Garante que a imagem não fique esticada ou deformada.*/
    flex-shrink: 0;
    /*Evita que a imagem encolha*/
    margin-right: 20px;
    /*espaçamento entre as imagens*/
    border-radius: 12px;
    /*arredondamento dos cantos*/
}


/*a partir daqui é do chat*/
.produtos-container {
    margin-top: 160px;
    width: 90%;
    max-width: 1200px;
}

h1 {
    color: rgb(57, 1, 74);
    text-shadow: 5px 4px black;
    text-align: center;
    font-size: 90px;
    margin-top: 10px;
    font-family: "Iceberg", sans-serif;
    background-image: url(Por-do-sol-roxo.jpg);
    background-size: 300% 300%;
    background-clip: text;
    color: transparent;
}


.grid-skins {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 29px;
    margin-top: 10px;
}

.card-skin {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 16px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 20px black;
    transition: transform 0.3s ease;
}

.card-skin:hover {
    transform: translateY(-8px) scale(1.03);
}

.card-skin img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.card-skin h2 {
    color: white;
    font-size: 30px;
    margin: 10px 0;
}

.raridade {
    color: #0163cd;
    font-size: 23px;
}

.raridade.epica {
    color: #b84cff;
}

.raridade.lendaria {
    color: #ff9f1c;
}

.preco {
    display: block;
    font-size: 30px;
    margin: 10px 0;
    color: #ff5400;
}

.comprar {
    background: linear-gradient(45deg, #ff5400, #ff8c00);
    border: none;
    border-radius: 14px;
    padding: 8px 16px;
    font-size: 23px;
    cursor: pointer;
}

.comprar:hover {
    filter: brightness(1.2);
}

.crimson {
    margin-top: 16px;
    width: 90%;
    max-width: 1200px;
}


.crimson1 {
    color: rgb(175, 1, 1);
    text-shadow: 8px 10px rgb(0, 0, 0);
    font-family: "Metal Mania", sans-serif;
    font-size: 100px;
}